.number-of-problems-input{
    width:80px;
    outline:none;
    border:#eee solid 1px;
    border-radius:3px;
}

.header h1{
    font-weight:bolder;
    padding:0;
    margin:0;
    color:#fff;
    text-shadow:0 0 1px rgba(0,0,0,0.3);
}

.header{
    background-color:#4caf50;
    padding:10px 100px 10px 100px;
}

.footer{
    padding:10px 100px 10px 100px;
}

.session-settings-text{
    font-size: 30px;
    color:#333;
    font-weight:lighter;
}

.correct-answer-button{
    background-image: none !important;
    background:#4caf50 !important;
}

.wrong-answer-button{
    background-image: none !important;
    background:#f44336 !important;
}

.medium-margins{
    margin: 5px;
}

#alternatives-container button{
    outline:none !important;
}

.no-interact{
    pointer-events:none;
}

#image-container img, #answer-viewer img{
    max-width:100%;
}

.main-wrapper{
    width:100%;
}
